---
layout: default
body-class: item
html-title: Untitled
---

<main id="content" class="l__content content">
  <article class="l__article content__article">
    <h1 class="content__title item__title sr-only">{{ page.title }}</h1>
    <figure class="item__figure">
      <p class="item__image">
        <img src="{{ site.baseurl }}{{ site.port_path }}{{ page.title }}.jpg" class="img--rwd {{ page.scale }}" alt="{{ page.type | capitalize }}, {{ page.medium | capitalize }}, {{ page.year }}, {{ page.dimensions | replace: "x", "by" }} inches" />
      </p>
      <figcaption class="item__caption">
        <p class="u__text__small">{{ page.medium | capitalize }}, {{ page.dimensions }}&quot;, {{ page.year }}</p>
      </figcaption>
    </figure>

    {% comment %} 
      <!-- 
      Previous / Next functions
      Assign variables from the entire portfolio collection
      -->
    {% endcomment %}
    {% assign items_raw = site.portfolio | where: 'type', page.type %}
    {% assign items = items_raw | sort: 'year' %}
    {% assign items = items | reverse %}
    
    {% if items.size > 1 %}
      {% comment %}
        <!-- Store the index position of the matching item -->
      {% endcomment %}
      {% for item in items %}
        {% if item.title == page.title %}
          {% assign item_index = forloop.index %}
          {% break %}
        {% endif %}
      {% endfor %}
      
      {% assign prev_index = item_index | plus: 1 %}
      {% assign next_index = item_index | minus: 1 %}
      
      {% for item in items %}
        {% if forloop.index == prev_index %}
          {% assign prev = item %}
        {% endif %}
        {% if forloop.index == next_index %}
          {% assign next = item %}
        {% endif %}
      {% endfor %}

    <footer class="item__footer">
      <h2 class="item__subtitle h5">{{ page.type | capitalize }}</h2>
      <nav class="item__nav">
        <p class="item__nav__item item__nav__item--next">
          {% if next %}
          <a href="{{ next.url }}.html" class="item__nav__link item__nav__next"  title="Next (Newer)"><span class="sr-only">Next </span>&lt;</a>
          {% endif %}
        </p>
  
        <ul class="list-unstyled item__nav__list" role="navigation" aria-lang="Portfolio">      
          {% for item in items %}
          <li class="item__nav__item">
            <a href="{{ item.url }}.html" class="item__nav__link item__nav__square {% if forloop.index == item_index %} item__nav--active{% endif %}" title="{{ item.year }}"{% if forloop.index == item_index %} aria-current="page"{% endif %}><span class="sr-only">{{ item.title }}</span></a>
          </li>
          {% endfor %}
        </ul>
  
        <p class="item__nav__item item__nav__item--prev">
          {% if prev %}
          <a href="{{ prev.url }}.html" class="item__nav__link item__nav__prev" title="Previous (Older)">&gt;<span class="sr-only"> Previous</span></a>
          {% endif %}
        </p>
      </nav>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          var aCurrent = document.querySelectorAll('[aria-current="page"]');
          aCurrent[0].focus();
        });
      </script>
    </footer>
    {% endif %}
  </article>
</main>