// Body Classes
.l {
  &__wrapper {
    margin: 0 auto;
    max-width: $max-width;
    
    @include fluid-units(
      'margin-top' 'margin-bottom',
      1,
      3,
      strip-unit(rem(bp(medium))),
      strip-unit(rem(bp(xx-large))),
      1rem,
      false
    );
    
    @include breakpoint-up(medium) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  &__header {}
  
  &__content {}
  
  &__article {
    &--max {
      margin: 0 auto;
      max-width: $max-width__text;
    }
  }
  
  &__nav {}
  
  &__footer {}
}
